<nav>
  <ul>
    <li>
      <a
        routerLink="/attempt1"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Attempt 1</a
      >
    </li>
    <li>
      <a
        routerLink="/attempt2"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Attempt 2</a
      >
    </li>
    <li>
      <a
        routerLink="/attempt3"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Attempt 3</a
      >
    </li>
    <li>
      <a
        routerLink="/attempt4"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Attempt 4</a
      >
    </li>
    <li>
      <a
        routerLink="/attempt5"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Attempt 5</a
      >
    </li>
    <li>
      <a
        routerLink="/attempt6"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Attempt 6</a
      >
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
