<h1>Drag & Drop with fxLayout</h1>
<button (click)="add()">Add</button> <button (click)="shuffle()">Shuffle</button
><br />

<span *ngFor="let item of items3">{{ item }} &nbsp;</span>

<div fxLayout="row wrap" fxLayoutGap="16px grid" cdkDropListGroup>
  <ng-container *ngFor="let item of items3">
    <ng-container [ngSwitch]="item">
      <div
        fxFlex.gt-sm="25"
        [fxFlex.gt-xs]="100 / 3"
        fxFlex="50"
        cdkDropList
        cdkDropListOrientation="horizontal"
        [cdkDropListData]="item"
        (cdkDropListDropped)="drop3($event)"
      >
        <ng-container *ngSwitchCase="PANEL_TYPES.a">
          <div class="example-box" cdkDrag>{{ item }}</div>
        </ng-container>
        <ng-container *ngSwitchCase="PANEL_TYPES.b">
          <div *ngIf="showB" class="example-box" cdkDrag>{{ item }}</div>
        </ng-container>
        <ng-container *ngSwitchCase="PANEL_TYPES.c">
          <div class="example-box" cdkDrag>{{ item }}</div>
        </ng-container>
        <ng-container *ngSwitchCase="PANEL_TYPES.d">
          <div class="example-box" cdkDrag>{{ item }}</div>
        </ng-container>
        <ng-container *ngSwitchCase="PANEL_TYPES.e">
          <div class="example-box" cdkDrag>{{ item }}</div>
        </ng-container>
        <ng-container *ngSwitchCase="PANEL_TYPES.f">
          <div class="example-box" cdkDrag>{{ item }}</div>
        </ng-container>
        <ng-container *ngSwitchCase="PANEL_TYPES.g">
          <div class="example-box" cdkDrag>{{ item }}</div>
        </ng-container>
        <ng-container *ngSwitchCase="PANEL_TYPES.h">
          <div class="example-box" cdkDrag>{{ item }}</div>
        </ng-container>
        <ng-container *ngSwitchCase="PANEL_TYPES.i">
          <div class="example-box" cdkDrag>{{ item }}</div>
        </ng-container>
        <ng-container *ngSwitchCase="PANEL_TYPES.j">
          <div class="example-box" cdkDrag>{{ item }}</div>
        </ng-container>
        <ng-container *ngSwitchCase="PANEL_TYPES.k">
          <div class="example-box" cdkDrag>{{ item }}</div>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <div class="example-box" cdkDrag>This is Default</div>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</div>

<span *ngFor="let item of items">{{ item }} &nbsp;</span>

<div fxLayout="row wrap" fxLayoutGap="16px grid" cdkDropListGroup>
  <ng-container *ngFor="let item of items; let index = index">
    <ng-container [ngSwitch]="item">
      <div
        fxFlex.gt-sm="25"
        [fxFlex.gt-xs]="100 / 3"
        fxFlex="50"
        cdkDropList
        cdkDropListOrientation="horizontal"
        [cdkDropListData]="index"
        (cdkDropListDropped)="drop($event)"
      >
        <ng-container *ngSwitchCase="1">
          <div class="example-box" cdkDrag>{{ item }} One</div>
        </ng-container>
        <ng-container *ngSwitchCase="2">
          <div class="example-box" cdkDrag>{{ item }} Two</div>
        </ng-container>
        <ng-container *ngSwitchCase="3">
          <div class="example-box" cdkDrag>{{ item }} Three</div>
        </ng-container>
        <ng-container *ngSwitchCase="4">
          <div class="example-box" cdkDrag>{{ item }} Four</div>
        </ng-container>
        <ng-container *ngSwitchCase="5">
          <div class="example-box" cdkDrag>{{ item }} Five</div>
        </ng-container>
        <ng-container *ngSwitchCase="6">
          <div class="example-box" cdkDrag>{{ item }} Six</div>
        </ng-container>
        <ng-container *ngSwitchCase="7">
          <div class="example-box" cdkDrag>{{ item }} Seven</div>
        </ng-container>
        <ng-container *ngSwitchCase="8">
          <div class="example-box" cdkDrag>{{ item }} Eight</div>
        </ng-container>
        <ng-container *ngSwitchCase="9">
          <div class="example-box" cdkDrag>{{ item }} Nine</div>
        </ng-container>
        <ng-container *ngSwitchCase="10">
          <div class="example-box" cdkDrag>{{ item }} Ten</div>
        </ng-container>
        <ng-container *ngSwitchCase="11">
          <div class="example-box" cdkDrag>{{ item }} Eleven</div>
        </ng-container>
        <ng-container *ngSwitchCase="12">
          <div class="example-box" cdkDrag>{{ item }} Twelve</div>
        </ng-container>
        <ng-container *ngSwitchCase="13">
          <div class="example-box" cdkDrag>{{ item }} Thirteen</div>
        </ng-container>
        <ng-container *ngSwitchCase="14">
          <div class="example-box" cdkDrag>{{ item }} Fourteen</div>
        </ng-container>
        <ng-container *ngSwitchCase="15">
          <div class="example-box" cdkDrag>{{ item }} Fiveteen</div>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <div class="example-box" cdkDrag>This is Default</div>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</div>

Separate grid
<span *ngFor="let item of items2">{{ item }} &nbsp;</span>
<div fxLayout="row wrap" fxLayoutGap="16px grid" cdkDropListGroup>
  <div
    *ngFor="let item of items2; let index2 = index"
    fxFlex.gt-sm="25"
    [fxFlex.gt-xs]="100 / 3"
    fxFlex="50"
    cdkDropList
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="index2"
    (cdkDropListDropped)="drop2($event)"
  >
    <div class="example-box" cdkDrag>
      {{ item }}
    </div>
  </div>
</div>
