<h1>Drag & Drop with fxLayout</h1>
<button (click)="add()">Add</button> <button (click)="shuffle()">Shuffle</button
><br />
<span *ngFor="let item of items">{{ item }} &nbsp;</span>

<div fxLayout="row wrap" fxLayoutGap="16px grid" cdkDropListGroup>
  <div
    *ngFor="let item of items; let index = index"
    fxFlex.gt-sm="25"
    [fxFlex.gt-xs]="100 / 3"
    fxFlex="50"
    cdkDropList
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="index"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="example-box" cdkDrag>
      {{ item }}
    </div>
  </div>
</div>
